<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Productos</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.all.min.js"></script>
    <style>
        /* Estilo para el menú lateral */
        .sidebar {
            position: fixed;
            top: 0;
            left: -250px; /* Inicia oculto a la izquierda */
            width: 250px;
            height: 100%;
            background-color: #333;
            color: white;
            padding-top: 20px;
            transition: left 0.3s ease;
            z-index: 1000;
        }

        .sidebar a {
            color: white;
            padding: 10px 15px;
            text-decoration: none;
            font-size: 18px;
            display: block;
        }

        .sidebar a:hover {
            background-color: #575757;
        }

        .sidebar-close {
            position: absolute;
            top: 20px;
            right: 25px;
            font-size: 36px;
            color: white;
            cursor: pointer;
        }
        /* Botón de menú hamburguesa */
        .menu-toggle {
            font-size: 30px;
            color: rgb(0, 162, 198);
            cursor: pointer;
            display: block;
        }
        
        /* Efecto de zoom en las imágenes al hacer clic */
        .product-image {
            transition: transform 0.3s ease;
            cursor: pointer;
        }

        .product-image:hover {
            transform: scale(1.2); /* Hace que la imagen se acerque */
        }

        /* Zoom de imagen cuando es clickeada */
        .zoomed {
            transform: scale(1.5);
        }

        /* Reducir el tamaño de la tarjeta */
        .card {
            width: 100%; /* Ancho completo dentro de la columna */
            max-width: 280px; /* Maximo ancho de la tarjeta */
            margin: 0 auto; /* Centrar la tarjeta */
        }

        /* Reducir el tamaño de la imagen */
        .card-img-top {
            height: 300px; /* Ajustar la altura de las imágenes */
            object-fit: cover; /* Asegurarse de que la imagen se recorte y ajuste */
            border-radius: 10px;
        }

        /* Ajustar el tamaño de los botones */
        .btn-primary {
            font-size: 0.9rem;
            padding: 10px;
        }

        .card-body {
            padding: 15px;
        }

        /* Ajuste de márgenes */
        .col-md-4 {
            margin-bottom: 10px;
        }

        /* Footer Estilo */
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 20px;
            margin-top: 50px;
        }

        footer a {
            color: #fff;
            text-decoration: none;
        }
        .social-icons a {
            transition: transform 0.3s ease, color 0.3s ease;
        }
        
        .social-icons a:hover {
            transform: scale(1.2); /* Aumentar tamaño al pasar el mouse */
            color: #007bff; /* Cambiar color al pasar el mouse */
        }
        /* Ajustes responsivos para el menú hamburguesa */
        @media screen and (max-width: 768px) {
            .sidebar {
                width: 0;
            }

            .menu-toggle {
                display: block;
            }

            .container {
                margin-left: 0;
            }
        }
         /* Estilo para el contenido principal */
         .content {
            transition: margin-left 0.3s ease;
            padding-left: 0;
        }

        .content.active {
            margin-left: 250px;
        }
        /* Estilo del contenido principal */
        .container {
            transition: margin-left 0.3s ease;
        }

    </style>
</head>
<!-- Contenedor principal con menú hamburguesa -->
<div class="content">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:3000/">Bienvenid@ a ISaix Store®</a>
            <div class="form-check form-switch ms-auto">
                <input class="form-check-input" type="checkbox" id="darkModeToggle">
                <label class="form-check-label" for="darkModeToggle">Modo Oscuro</label>
            </div><br>
            <br><div><span class="menu-toggle" onclick="openMenu()">&#9776;</span></div>
        </div>
    </nav>
</div>
<body>
    <!-- Menú Lateral (Sidebar) -->
    <div id="sidebar" class="sidebar">
        <span class="sidebar-close" onclick="closeMenu()">&times;</span>
        <a href="/">Inicio</a>
        <a href="/shopping-cart">Carrito de Compras</a>
        <a href="/register">Registro</a>
        <a href="/login">Iniciar Sesión</a>
        <a href="/admin/products/">Administrar Productos</a>
        <a href="/admin/orders/">Administrar Pedidos</a>
    </div>
    <div class="container mt-5">
    <h1 class="text-center mb-4">ISaix Store®</h1>
    <h1 class="mb-4">Gestión de Productos</h1>
  
    <!-- Tabla de Productos -->
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th class="text-center">ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Imagen</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% productos.forEach(producto => { %>
                <tr>
                    <td><%= producto.id %></td>
                    <td><%= producto.nombre %></td>
                    <td><%= producto.descripcion %></td>
                    <td class="text-center">$<%= producto.precio.toFixed(0) %></td>
                    <td>
                        <% if (producto.imagen) { %>
                            <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>" class="img-thumbnail" style="width: 100px; height: auto;">
                        <% } else { %>
                            <span>Sin imagen</span>
                        <% } %>
                    </td>
                    <td class="d-flex justify-content-center"> 
                        <!-- Botón para eliminar el producto -->
                        <form action="/admin/products/delete/<%= producto.id %>" method="POST" class="d-inline mx-1" onsubmit="confirmDelete(event)">
                            <button class="btn btn-danger btn-sm" style="width: 90px; height: 35px">Eliminar</button>
                        </form>
    
                        <!-- Botón para editar el producto -->
                        <a href="/admin/products/edit/<%= producto.id %>" class="btn btn-warning btn-sm mx-1" style="width: 90px; height: 35px">Editar</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <!-- Formulario para Crear Productos -->
    <h2 class="mt-5">Agregar Producto</h2><br>
    <form action="/admin/products" method="POST" class="row g-3">
        <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="col-md-6">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" required>
        </div>
        <div class="col-md-4">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" class="form-control" id="precio" name="precio" required>
        </div>
        <div class="col-md-4">
            <label for="categoriaId" class="form-label">Categoría</label>
            <select id="categoriaId" name="categoriaId" class="form-select">
                <% categorias.forEach(categoria => { %>
                    <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                <% }); %>
            </select>
        </div>
        <div class="col-md-6">
            <label for="imagen" class="form-label">URL de la Imagen</label>
            <input type="text" class="form-control" id="imagen" name="imagen">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-sm">Agregar Producto</button>
        </div>
    </form><br><br>
    <!-- Formulario para Crear Categorías -->
    <h1 class="mb-4">Gestión de Categorías</h1>
    <form action="/admin/categories" method="POST" class="row g-3">
        <div class="col-md-8">
            <label for="categoria" class="form-label">Nombre de Nueva Categoría</label>
            <input type="text" class="form-control" id="categoria" name="nombre" required>
        </div>
        <div class="col-md-4 d-flex align-items-end">
            <button type="submit" class="btn btn-primary btn-sm">Agregar Categoría</button>
        </div>
    </form><br>
    <!-- Tabla de Categorías -->
    <h2 class="mb-5">Tabla de Categorías</h2>
    <table class="table table-bordered mt-4">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% categorias.forEach(categoria => { %>
                <tr>
                    <td><%= categoria.id %></td>
                    <td><%= categoria.nombre %></td>
                    <td class="text-center">
                        <!-- Botón para eliminar categoría -->
                        <form action="/admin/categories/delete/<%= categoria.id %>" method="POST" class="d-inline mx-1" onsubmit="confirmDelete(event)">
                            <button class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
     <!-- Footer -->
     <footer class="bg-dark text-white text-center py-4 mt-5">
        <p>&copy; 2024 ISaix Store®. Todos los derechos reservados.</p>
        <p><a href="/contact" class="text-white">Contacto</a> | <a href="/privacy-policy" class="text-white">Política de Privacidad</a></p>
        
        <!-- Redes Sociales -->
        <div class="social-icons mt-3">
            <a href="https://www.facebook.com" target="_blank" class="text-white mx-3">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank" class="text-white mx-3">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a href="https://twitter.com" target="_blank" class="text-white mx-3">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
            <a href="https://www.linkedin.com" target="_blank" class="text-white mx-3">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
        </div>
    </footer>
</body>
<script>
    // Función de confirmación usando SweetAlert2
    function confirmDelete(event) {
        event.preventDefault();

        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡Este producto será eliminado!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar',
            confirmButtonColor: '#e74c3c',
            confirmButtonborderColor: '#e74c3c',
            cancelButtonColor: '#95a5a6', 
            reverseButtons: true
        }).then((result) => {
            // Si el usuario confirma, se envía el formulario
            if (result.isConfirmed) {
                event.target.submit();  // Ahora enviamos el formulario
            }
        });
    }

    // Función para abrir el menú lateral
    function openMenu() {
        document.getElementById("sidebar").style.left = "0";  // Abrir el menú lateral
        document.querySelector('.content').classList.add('active'); // Desplazar el contenido
    }

    // Función para cerrar el menú lateral
    function closeMenu() {
        document.getElementById("sidebar").style.left = "-250px"; // Cerrar el menú lateral
        document.querySelector('.content').classList.remove('active'); // Volver el contenido a su posición original
    }
    const toggle = document.getElementById('darkModeToggle');
        const body = document.body;
        
        // Cargar la preferencia guardada
        const currentMode = localStorage.getItem('mode');
        if (currentMode === 'dark') {
            body.classList.add('dark-mode');
            toggle.checked = true;
        }
        
        // Manejar el cambio de modo
        toggle.addEventListener('change', () => {
            if (toggle.checked) {
                body.classList.add('dark-mode');
                localStorage.setItem('mode', 'dark'); // Guardar preferencia
            } else {
                body.classList.remove('dark-mode');
                localStorage.setItem('mode', 'light'); // Guardar preferencia
            }
        });
</script>


</html>
